body{
    margin: 0px;
    padding: 0px;
    background-color: #f2f2f2;
}
.col1{
    height: 670px;
    background-color: #e3e6e4;
}

.col2{
    height: 670px;
    background-color: #e3e6e4;
    
}
.col-md-6{
    height: 500px;
    background-color: #ffffff;
    margin-top: 80px;
    padding: 50px;
}
.one{
   border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.two{
   border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.calender-header{
    color: chocolate;
    font-size: 20px;
    margin-top: 30px;
    word-spacing: 5px;
    letter-spacing: 5px;
}
.weekly-days{
    font-size: 12px;
    margin-top: 29px;
    word-spacing: 10px;
    color: grey;
}
a[href="t"]{
 color: #000;
    text-decoration: underline;
    text-decoration-color: #f7a18a;
}
.monthly-days1{
    margin-top: 20px;
    word-spacing: 25px;
}
.monthly-days2{
    margin-top: 10px;
    word-spacing: 30px;
}
.monthly-days5{
    margin-top: 10px;
    word-spacing: 22px;
}

.monthly-days3{
    margin-top: 10px;
    word-spacing: 22px;
}
.monthly-days4{
    margin-top: 10px;
    word-spacing: 22px;
}
a[href="19"]{
    color: #000;
    text-decoration: underline;
    text-decoration-color: #f7a18a;
}
.time{
    margin-top: 20px;
    color: chocolate;
    font-size: 25px;
}

.img{
    margin-left: -30px;
}
@media screen (mix width:476px){
    

}